<% if admin? %>
<%= link_to "New Item", new_item_path %>
<% end %>

  <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
<% @items.each do |item| %>    
    <tr id="<%= item.name %>">
      <td><%= item.name %></td>
      <td>$<%= item.price %></td>
      <td>
        <%= link_to "Show", item_path(item) %>
        <% if admin? %>
          <%= link_to "Edit", edit_item_path(item) %>
          <%= link_to "Delete", item_path(item), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>