<!DOCTYPE html>
<html>
<head>
  <title>Ecom</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |type, message| %>
  <%= message %>
<% end %>
  
<%= link_to "Sign in", signin_path %>
<%= link_to "Sign up", signup_path %>
<% if current_user %>
  <%= link_to "Logout", logout_path, method: :delete %>
<% end %>
  
<%= yield %>

</body>
</html>
